<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    {% if current_user %}
        <img src="{{current_user.avatar_url}}" style="height: 200px; width: 200px; border-radius: 50%;">
        <p>Logged in as {{current_user.username}}</p>
        <p>ID: {{current_user.id}}</p><br/>
        <a href="/logout"><button>Logout</button></a>
    {% else %}
        <a href="{{oauth_uri}}"><button>Login with Discord</button></a>
    {% endif %}
</body>
</html>